<!-- cards -->
<div class="hero" style="        background-image: url(https://preview.colorlib.com/theme/warehouse/images/xhero_1.jpg.pagespeed.ic.aek8z5kvkt.webp);
        background-size: cover;
        height: 600px;
        background-attachment: fixed;"></div>
    <div class="container mt-5">
        <div class="row large-gutters">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a asp-action="Details" class="d-inline-block mb-4">
                            <img src="~/assets/images/card-1.jpg" alt="FImageo" class="img-fluid">
                        </a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="propertiesinglepage.html" class="d-inline-block mb-4">
                            <img src="~/assets/images/card-2.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4">
                            <img src="~/assets/images/card-3.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4">
                            <img src="~/assets/images/card-4.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4">
                            <img src="~/assets/images/card-5.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4">
                            <img src="~/assets/images/card-6.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
