

@model ProductsViewModel

@{ ViewData["Title"] = "Edit"; }


<h4>Blog Edit</h4>
<hr />
<div class="row">
    <div class="col-12 card-body">
        <div class="form-row">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group col-12">

                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group col-12">

                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group col-12">

                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group col-12">

                    <label asp-for="Bed" class="control-label"></label>
                    <input asp-for="Bed" class="form-control" />
                    <span asp-validation-for="Bed" class="text-danger"></span>
                </div>
                <div class="form-group col-12">

                    <label asp-for="Baths" class="control-label"></label>
                    <input asp-for="Baths" class="form-control" />
                    <span asp-validation-for="Baths" class="text-danger"></span>
                </div>
                <div class="form-group col-12">

                    <label asp-for="Sqft" class="control-label"></label>
                    <input asp-for="Sqft" class="form-control" />
                    <span asp-validation-for="Sqft" class="text-danger"></span>
                </div>
                <div class="form-group col-12">

                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-12">

                    <label asp-for="ShopDescription" class="control-label"></label>
                    <input asp-for="ShopDescription" class="form-control" />
                    <span asp-validation-for="ShopDescription" class="text-danger"></span>
                </div>

                <div class="form-group col-12 ">
                    <label class="control-label">
                        Şəkil
                    </label>
                    <label class="image-input"
                           data-imgurl="/assets/images/@Model.ImagePath"
                           for="file">
                        <input type="hidden" name="fileTemp" value="@Model.file">
                        <span>×</span>
                    </label>
                    <input name="file" id="file" type="file" accept="image/x-png,image/gif,image/jpeg">
                </div>

                <input type="hidden" asp-for="Id" />




                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
</div>

@section addjs{

    <script src="~/libs/ckeditor5/ckeditor.js"></script>
    <script src="~/libs/jquery-image-input/JavaScript.js"></script>


    <script>$(document).ready(function () {

            ClassicEditor
                .create(document.querySelector('#Body'))
                .catch(error => {
                    console.error(error);
                });



        });
        $(document).ready(function () {

            var elem = $('.textarea').text().length;

            if (elem == 48) {
                $('.sil').hide();
            }

        });</script>
}


@section addcss{

    <link href="~/libs/jquery-image-input/StyleSheet.css" rel="stylesheet" />

}